* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6;
}

body {
  font-size: 1rem;
}

.l-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-image: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 1px, transparent 1px, transparent 4px),
    repeating-linear-gradient(45deg, rgb(56, 56, 56) 0px, rgb(56, 56, 56) 5px, transparent 5px, transparent 6px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
  color: #fff;
}

.c-logo {
  display: inline-block;
  width: 15rem;
  fill: currentColor;
  margin-bottom: 2rem;
}

.c-address {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
}

.c-phone {
  font-size: 1.6rem;
  font-weight: bold;
}

.c-phone a {
  text-decoration: none;
  color: #fff;
}
