<section id="contact" class="c-section c-section--contact">
  <div class="u-container">
    <div class="c-grid c-grid--halves">
      <div>
        <h1 class="c-section__title">Kontaktirajte nas</h1>

        <form class="c-contact-form">
          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaše ime</label>
            <input type="text" class="c-input-control" placeholder="Mirko Marić">
          </fieldset>

          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaš email</label>
            <input type="email" class="c-input-control" placeholder="mirko@maric.com">
          </fieldset>

          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaš broj telefona</label>
            <input type="phone" class="c-input-control" placeholder="0038765123456">
          </fieldset>

          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaša poruka</label>
            <textarea rows="10" class="c-form-control" placeholder="Opišite vaš zahtjev ovdje..."></textarea>
          </fieldset>

          <button class="c-btn c-btn--primary" type="submit">Pošalji</button>
        </form>
      </div>

      <div>
        google mapa 
      </div>
    </div>
  </div>
</section>