<section id="contact" class="c-section c-section--contact">
  <div class="u-container">
    <div class="c-grid c-grid--halves">
      <div>
        <h1 class="c-section__title">Kontaktirajte nas</h1>

        <form class="c-contact-form" netlify>
          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaše ime</label>
            <input type="text" class="c-input-control" placeholder="Mirko Marić">
          </fieldset>

          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaš email</label>
            <input type="email" class="c-input-control" placeholder="mirko@maric.com">
          </fieldset>

          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaš broj telefona</label>
            <input type="phone" class="c-input-control" placeholder="0038765123456">
          </fieldset>

          <fieldset class="c-field-group">
            <label for="" class="c-form-label">Vaša poruka</label>
            <textarea rows="10" class="c-form-control" placeholder="Opišite vaš zahtjev ovdje..."></textarea>
          </fieldset>

          <button class="c-btn c-btn--primary" type="submit">Pošalji</button>
        </form>
      </div>

      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2832.4893852781897!2d17.197017415806467!3d44.77082738745994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xebcf3df39afdb349!2sServis%20Katana!5e0!3m2!1sen!2sba!4v1617048765179!5m2!1sen!2sba" class="c-map-iframe" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>