<section class="c-section c-section--hero">
  <div class="u-container">
    <h1 class="c-section__title">Bavimo se auto-elektrikom od 1962. godine!</h1>
  
    <!-- <nav class="c-nav">
      <a href="#services">Usluge</a>
      <a href="#history">Naša priča</a>
      <a href="#contact">Kontaktirajte nas</a>
    </nav> -->
  </div>

  <video class="c-intro-video" muted autoplay loop>
    <source src="{{ '/assets/video/hero-intro.mp4' | url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <svg class="c-icon c-icon--lg c-scroll-indicator" xmlns="http://www.w3.org/2000/svg">
    <use href="#caret"/>
  </svg>
</section>
