<section id="history" class="c-section c-section--history">
  <div class="u-container">
    <div class="c-grid c-grid--halves">
      <div>
        <h1 class="c-section__title">Zapošljavamo</h1>
        <p>Tražimo osobu koja je zainteresovana da se pridruži našem timu, bez obzira na prethodno radno iskustvo. Posao uključuje dijagnostiku, popravku i održavanje električnih sistema u vozilima. Važno je da pokazujete volju za učenjem i radom, a mi ćemo vam pružiti obuku i podršku.
        </p>
        <p>Ako želite da steknete nova znanja i radite u kvalitetnom okruženju, pozivamo vas da nam se javite.</p>
        <p>
          <a class="c-btn c-btn--primary" href="mailto:serviskatana@gmail.com?subject=Prijava za posao">Pišite nam na mail</a> ili
          <a class="c-btn c-btn--primary" href="tel:0038765548331">Pozovite nas</a>
        </p>
      </div>

      <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="Naša prva garaža">
    </div>
  </div>
</section>
