<section id="history" class="c-section c-section--history">
  <div class="u-container">
    <div class="c-grid c-grid--halves">
      <div>
        <h1 class="c-section__title">O nama</h1>
        <p>
          Autoelektrika "Katana" sa izuzetno dugom tradicijom i dugogodišnjim iskustvom svojim klijentima pruža usluge 
          popravki,servisiranja i održavanja svih vrsta putničkih vozila.
        </p>
        <p>
          Naš specijalizovani tim se sastoji od sručno obučenih servisera kojima je glavni cilj zadovoljstvo klijenata našim specijalitičkim uslugama.
        </p>
        <p>
          Sam kapacitet radionice autoelektrike Katana,nama omućava servisiranje 6 vozila paralelno,a vama,našim klijentima,ostavljanje vozila u krugu radionice,čekanje na dijelove ili red.
        </p>
        <p>
          Naš sručni tim servisera koristi se savremenim alatima i specijalnim uredjajima namjenjenim za pojedinačno i cjelokupno testiranje ispravnosti raznih sistema vozila.
        </p>
      </div>

      <img src="http://placehold.it/400x250" alt="">
    </div>

    <div class="c-grid c-grid--halves u-gap-top-d-lg">
      <img src="http://placehold.it/400x250" alt="">
      <div>
        <h2 class="c-section__title">Profesionalnost</h2>
        <p>
          Naš profesionalni pristup ogleda se u kvalitetnim dijelovima i detaljnim radom na vozilima naših vjernih klijenata.
        </p>
        <p>
          U slučaju nedostatka vremena, vrste ili obima zahvata na vozilu, tu su i naši saradnici, izvođači radova o kojima informišemo klijenta kako bi u potpunosti preuzeli odgovornost i dali garanciju na isporuku vozila.
        </p>
        <p>
          Zadovoljstvo i povjerenje naših klijenata su nam na prvom mjestu, s toga nas posjetite u Gundulićevoj ulici broj 3 i provjerite šta je to što nas osim dugogodišnje tradicije razlikuje od drugih.
        </p>
      </div>
    </div>
  </div>
</section>
