<section id="services" class="c-section c-section--services">
  <div class="u-container">
    <h1 class="c-section__title">Usluge koje nudimo</h1>
  
    <ul class="c-grid c-grid--thirds c-service-list">
      <li class="c-card">
        <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="#" class="c-card__image">
        <h2 class="c-card__title">Autoelektrika</h2>
        <p>Remont svih vrsta alternatora i anlasera, remont motora za grijanje kabine, popravke u ugradnja centralnog zaključavanja, popravke na elektroinstalacijama, akumulatori i auto oprema i signalizacija Hella.</p>
      </li>
  
      <li class="c-card">
        <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="#" class="c-card__image">
        <h2 class="c-card__title">Autoelektronika</h2>
        <p>Servis Air Bag centrala, brisanje crash podataka, korekcija kilometraže, popravke elektronskih modula i centrala, kodiranje ključeva, dijagnostika.</p>
      </li>
  
      <li class="c-card">
        <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="#" class="c-card__image">
        <h2 class="c-card__title">Dodatna oprema</h2>
        <p>Auto alarmi, centralno zaključavanje, daljinsko zaključavanje, Xenon svjetla.</p>
      </li>
  
      <li class="c-card">
        <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="#" class="c-card__image">
        <h2 class="c-card__title">Klima uređaji</h2>
        <p>Punjenje klima sistema, Opravke hladnjaka i izrada crijeva, remont kompresora, traženje curenja, čišćenje i dezinfekcija.</p>
      </li>
  
      <li class="c-card">
        <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="#" class="c-card__image">
        <h2 class="c-card__title">Mašinsko čišćenje</h2>
        <p>Mašinsko čišćenje dizni – injektora.</p>
      </li>
  
      <li class="c-card">
        <img src="{{ '/assets/images/aek-shop-1.jpg' | url }}" alt="#" class="c-card__image">
        <h2 class="c-card__title">Servis vozila</h2>
        <p>Veliki i mali servis, servis kočnica i akumulatora.</p>
      </li>
    </ul>
  </div>
</section>
